
.vs/ReviewPredictor/config/applicationhost.config
.vs/ReviewPredictor/DesignTimeBuild/.dtbcache.v2
.vs/ReviewPredictor/v16/.suo
ReviewPredictor.Shared/bin/Debug/netstandard2.0/ReviewPredictor.Shared.deps.json
ReviewPredictor.Shared/bin/Debug/netstandard2.0/ReviewPredictor.Shared.dll
ReviewPredictor.Shared/bin/Debug/netstandard2.0/ReviewPredictor.Shared.pdb
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.AssemblyInfo.cs
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.AssemblyInfoInputs.cache
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.assets.cache
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.csproj.CoreCompileInputs.cache
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.csproj.FileListAbsolute.txt
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.csprojAssemblyReference.cache
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.dll
ReviewPredictor.Shared/obj/Debug/netstandard2.0/ReviewPredictor.Shared.pdb
ReviewPredictor.Shared/obj/project.assets.json
ReviewPredictor.Shared/obj/project.nuget.cache
ReviewPredictor.Shared/obj/ReviewPredictor.Shared.csproj.nuget.dgspec.json
ReviewPredictor.Shared/obj/ReviewPredictor.Shared.csproj.nuget.g.props
ReviewPredictor.Shared/obj/ReviewPredictor.Shared.csproj.nuget.g.targets
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.Core.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.CpuMath.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.Data.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.DataView.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.KMeansClustering.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.PCA.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.StandardTrainers.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Microsoft.ML.Transforms.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/model.zip
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/product_reviews.csv
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Shared.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Shared.pdb
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.deps.json
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.exe
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.pdb
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.runtimeconfig.dev.json
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.runtimeconfig.json
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libLdaNative.so
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libLdaNative.dylib
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/LdaNative.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/LdaNative.dll
ReviewPredictor.Trainer/bin/Debug/netcoreapp3.1/System.CodeDom.dll
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.AssemblyInfo.cs
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.AssemblyInfoInputs.cache
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.assets.cache
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.csproj.CopyComplete
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.csproj.CoreCompileInputs.cache
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.csproj.FileListAbsolute.txt
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.csprojAssemblyReference.cache
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.dll
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.exe
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.genruntimeconfig.cache
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/ReviewPredictor.Trainer.pdb
ReviewPredictor.Trainer/obj/project.assets.json
ReviewPredictor.Trainer/obj/project.nuget.cache
ReviewPredictor.Trainer/obj/ReviewPredictor.Trainer.csproj.nuget.dgspec.json
ReviewPredictor.Trainer/obj/ReviewPredictor.Trainer.csproj.nuget.g.props
ReviewPredictor.Trainer/obj/ReviewPredictor.Trainer.csproj.nuget.g.targets
ReviewPredictor/obj/ReviewPredictor.csproj.nuget.g.targets
ReviewPredictor/obj/ReviewPredictor.csproj.nuget.g.props
ReviewPredictor/obj/ReviewPredictor.csproj.nuget.dgspec.json
ReviewPredictor/obj/project.nuget.cache
ReviewPredictor/obj/project.assets.json
ReviewPredictor/obj/Debug/netcoreapp3.0/staticwebassets/ReviewPredictor.StaticWebAssets.xml
ReviewPredictor/obj/Debug/netcoreapp3.0/staticwebassets/ReviewPredictor.StaticWebAssets.Manifest.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.RazorTargetAssemblyInfo.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.pdb
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.MvcApplicationPartsAssemblyInfo.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.genruntimeconfig.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.exe
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.dll
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.csprojAssemblyReference.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.csproj.FileListAbsolute.txt
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.csproj.CoreCompileInputs.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.csproj.CopyComplete
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.assets.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.AssemblyInfoInputs.cache
ReviewPredictor/obj/Debug/netcoreapp3.0/ReviewPredictor.AssemblyInfo.cs
ReviewPredictor/obj/Debug/netcoreapp3.0/project.razor.json
ReviewPredictor/bin/Debug/netcoreapp3.0/System.CodeDom.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/LdaNative.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/LdaNative.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libLdaNative.dylib
ReviewPredictor/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libLdaNative.so
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.Shared.pdb
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.Shared.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.runtimeconfig.json
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.runtimeconfig.dev.json
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.pdb
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.exe
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/ReviewPredictor.deps.json
*.dll
ReviewPredictor/bin/Debug/netcoreapp3.0/appsettings.json
ReviewPredictor/bin/Debug/netcoreapp3.0/appsettings.Development.json
ReviewPredictor/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
ReviewPredictor/bin/Debug/netcoreapp3.1/appsettings.Development.json
ReviewPredictor/bin/Debug/netcoreapp3.1/appsettings.json
ReviewPredictor/bin/Debug/netcoreapp3.1/model.zip
ReviewPredictor/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
ReviewPredictor/bin/Debug/netcoreapp3.1/ReviewPredictor.deps.json
ReviewPredictor/bin/Debug/netcoreapp3.1/ReviewPredictor.exe
ReviewPredictor/bin/Debug/netcoreapp3.1/ReviewPredictor.pdb
ReviewPredictor/bin/Debug/netcoreapp3.1/ReviewPredictor.runtimeconfig.dev.json
ReviewPredictor/bin/Debug/netcoreapp3.1/ReviewPredictor.runtimeconfig.json
ReviewPredictor/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libLdaNative.so
ReviewPredictor/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libLdaNative.dylib
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.AssemblyInfo.cs
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.AssemblyInfoInputs.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.assets.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.csproj.CopyComplete
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.csproj.CoreCompileInputs.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.csproj.FileListAbsolute.txt
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.csprojAssemblyReference.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.exe
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.genruntimeconfig.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.MvcApplicationPartsAssemblyInfo.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.pdb
ReviewPredictor/obj/Debug/netcoreapp3.1/ReviewPredictor.RazorTargetAssemblyInfo.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/staticwebassets/ReviewPredictor.StaticWebAssets.Manifest.cache
ReviewPredictor/obj/Debug/netcoreapp3.1/staticwebassets/ReviewPredictor.StaticWebAssets.xml
.vs/ReviewPredictor/v16/TestStore/0/000.testlog
.vs/ReviewPredictor/v16/TestStore/0/testlog.manifest
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/product_reviews - bad data.csv
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/product_reviews.csv
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.DataTests.deps.json
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.DataTests.pdb
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.DataTests.runtimeconfig.dev.json
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.DataTests.runtimeconfig.json
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.exe
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/ReviewPredictor.Trainer.pdb
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libLdaNative.so
ReviewPredictor.DataTests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libLdaNative.dylib
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.AssemblyInfo.cs
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.AssemblyInfoInputs.cache
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.assets.cache
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.csproj.CopyComplete
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.csproj.CoreCompileInputs.cache
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.csproj.FileListAbsolute.txt
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.csprojAssemblyReference.cache
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.genruntimeconfig.cache
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/ReviewPredictor.DataTests.pdb
ReviewPredictor.DataTests/obj/project.assets.json
ReviewPredictor.DataTests/obj/project.nuget.cache
ReviewPredictor.DataTests/obj/ReviewPredictor.DataTests.csproj.nuget.dgspec.json
ReviewPredictor.DataTests/obj/ReviewPredictor.DataTests.csproj.nuget.g.props
ReviewPredictor.DataTests/obj/ReviewPredictor.DataTests.csproj.nuget.g.targets
ReviewPredictor.DataTests/product_reviews.csv
ReviewPredictor.Trainer/Properties/launchSettings.json
ReviewPredictor/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ReviewPredictor.Trainer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ReviewPredictor.DataTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

